body{
	margin-left : 150px;
	margin-right : 150px;
	
	font-family : arial;
}

#title{
	font : 50px arial;
	text-align : center;
}

#sale{
	color : FireBrick;
}

#project{
	color : CornflowerBlue;
}


h2{
	font : 15px arial;
	text-align : right;
	line-height : 0px;
	}

#logout {
	color : red;
}

#SubHeader{
	font : 30px Arial;
	font-weight : bold;
}

#sale{

}

#catalog {
	border-collapse: collapse;
}

a{text-decoration : none;
color: black;}

#itemname{
	font : 25px arial;
	font-weight : bold;
}

#price{
	font : 20px arial;
}

#catalog td, th {
	text-transform : capitalize;
    border: 3px solid black;
	text-align : center;
	font-family : arial;
	font-size : 20px;
	color: #ff0000;
	width : 250px;
	height : 50px;
}

#bluelink{
	font : 30px;
	color: white;
}

#catalog td.blue{
	background : #4169E1;
}

.producttable {
	width : 100%;	
	
	}

.producttable tr{
	height : 11px;


}

.producttable td.right{
	text-align : right;
}

.producttable td.likebuy{
	font : 20px arial;
	text-transform : uppercase;
	font-weight : bold;
	width : 80px;

}

.producttable td.like{
	color : cornflowerblue
}

.producttable td.buy{
	color : green;
}

