body{
	margin-left : 150px;
	margin-right : 150px;
	
	font-family : arial;
}

#title{
	font : 50px arial;
	text-align : center;
}

#sale{
	color : FireBrick;
}

#project{
	color : CornflowerBlue;
}


h2{
	font : 15px arial;
	text-align : right;
	line-height : 0px;
	}

#logout {
	color : red;
}

#sale{

}

#catalog {
	border-collapse: collapse;
}

h3{
	font : 25px arial;
	text-align : left;
	font-weight : bold
}

#SubHeader {

}

a{text-decoration : none;
color: black;}

#itemname{
	font-weight : bold;
	font : 30px arial	;
}

#price{
	font : 25px arial;
}

#catalog td, th {
	text-transform : capitalize;
    border: 3px solid black;
	text-align : center;
	font-family : arial;
	font-size : 20px;
	color: #ff0000;
	width : 250px;
	height : 50px;
}

#bluelink{
	font : 30px;
	color: white;
}

#catalog td.blue{
	background : #4169E1;
}

.producttable {
	width : 100%;	
	
	}

.producttable tr{
	height : 11px;


}

.producttable td.right{
	text-align : right;
}

.producttable td.likebuy{
	font : 20px arial;
	text-transform : uppercase;
	font-weight : bold;
}

.producttable td.like{
	color : cornflowerblue
}

.producttable td.small{
	width : 80px;
}

.producttable td.buy{
	color : green;
}

#submitAlign {
	text-align: right;
}

#submitButton {
	font : 15px arial;
	
	color : white;
	background-color: blue;
	width: auto;
	height: auto;
	padding: 5px;
}

#title{
	font : 35px arial;
	text-align : center;
}

#account {
	font-weight: bold;
	text-align: left;
}

#SubHeader{
	font : 30px Arial;
	font-weight : bold;
}

#formField {
	width : 100%;
}

#link {
	color : blue;
